body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    background-color: lightgray;

}



#container{
    border: 1px solid black;
    width: auto;
    text-align: left;
    padding: 1em;
    margin: 0 auto;
}